@charset "UTF-8";
/*
 * colors variables
 */
html, body {
  min-height: 100%;
  height: 100%;
  min-width: 1000px;
  background: #f3f5f7;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.cl-orange {
  color: #ff5a2c !important;
}

.ft-cen {
  text-align: center;
}

.more {
  color: #2da1e7;
}

.cl-basics {
  color: #00a4ff;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #00a4ff;
  border: none;
}

.cl-boder {
  border: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/****
* icon 图标 common
****/
.i-chevron-top {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -83px 2px;
}

.i-chevron-bot {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -83px -6px;
}

.i-heart {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -104px 0px;
}

.i-star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -57px 0px;
}

.i-weixin {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: 0px 1px;
}

.i-qq {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -26px 0px;
}

.i-answer {
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -133px 0px;
}

.i-browse {
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: 0px -20px;
}

.i-problem {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -133px -21px;
}

.i-node {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -102px -21px;
}

.i-edt {
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -22px -19px;
}

.i-del {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -43px -19px;
}

.i-laud {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -64px -19px;
}

.i-coll {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: 1px -35px;
}

.i-play {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url(/static/images/asset-icoGather.png) no-repeat;
  background-position: -22px -35px;
  margin-right: 8px;
}

/*
 * colors variables
 */
header {
  width: 100%;
  background: #fff;
}

header a {
  color: #333;
}

header a:hover {
  color: #ff7c2d;
  text-decoration: none;
}

header .navbar {
  min-width: 1024px;
  margin: 0 auto;
  border-radius: 0px;
  overflow: hidden;
}

header .navbar .logo {
  width: 195px;
  float: left;
  min-width: 110px;
  margin-right: 2%;
}

header .navbar .starch {
  float: right;
  min-width: 326px;
  margin-right: 5%;
}

header .navbar .sign-in {
  float: right;
}

header .navbar .sign-in a {
  color: #14191f;
}

header .navbar .sign-in span {
  color: #787d82;
}

header .navbar .sign-in .personal {
  color: #787d82;
}

header .navbar .sign-in .personal .personalIco::before {
  content: ' ● ';
  color: red;
  font-weight: bold;
  right: 1px;
  top: -8px;
  position: absolute;
}

header .navbar .sign-in .personal span {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
  margin-left: 8px;
  background: url(/static/images/asset-personalIco.png) no-repeat;
}

header .navbar .sign-in .myInfo {
  color: #787d82;
}

header .navbar .sign-in .myInfo img {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: -2px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

header .navbar-nav {
  font-size: 18px;
  margin: 0 20px;
  font-weight: bold;
  color: #333;
}

header .navbar-nav li a {
  padding: 9px 15px !important;
}

header .active {
  border-bottom: solid 2px #00a4ff;
}

header .sign-in {
  margin-top: 12px;
  margin-right: 0px;
}

header .sign-in a {
  color: #00a4ff;
}

header .learingHeader {
  max-width: 1366px;
  margin: 0 auto;
  background: #fff;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

header input {
  height: 35px;
  margin-top: 7px;
}

header .input-search {
  border: solid 2px #00a4ff;
  width: 280px;
  padding-left: 10px;
}

header .search-buttom {
  border: solid 2px #00a4ff;
  background: #00a4ff;
  color: #fff;
  font-weight: bold;
  width: 14%;
  max-width: 80px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

/*
 * colors variables
 */
footer {
  width: 100%;
  background: #fff;
  margin-top: 20px;
  padding: 40px 0;
  line-height: 260%;
}

footer .btn-primary {
  min-width: 100px;
  margin-top: 10px;
}

footer img {
  position: relative;
  top: -8px;
  left: 0px;
}

footer dt {
  margin-bottom: 20px;
}

footer dd {
  line-height: 200%;
}

.wrap {
  width: 1170px;
  overflow: hidden;
  margin: auto;
}

/** 登录&注册 - start **/
.register {
  padding: 15px;
  /** 登录注册 - start **/
}

.register a {
  color: #787d82;
}

.register a:hover {
  color: #00a4ff;
}

.register .container {
  min-height: 550px;
}

.register .backIndex, .register .backIndex:hover {
  font-size: 18px;
  color: #999;
}

.register .backIndex::before {
  content: ' ';
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 4px;
  width: 22px;
  height: 20px;
  background: url(/static/images/asset-icoGather.png) 0px -114px no-repeat;
}

.register .show {
  display: block;
}

.register .signIco {
  margin-top: 40px;
}

.register .signTit {
  text-align: center;
  margin-top: 30px;
  color: #787d82;
}

.register .signTit span {
  cursor: pointer;
  display: inline-block;
  margin: 0 70px;
  width: 50px;
  line-height: 30px;
  font-size: 18px;
}

.register .signTit .activ {
  border-bottom: solid 2px #00a4ff;
  color: #00a4ff;
}

.register .signItem, .register .regItem {
  display: none;
  width: 350px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  color: #787d82;
}

.register .signItem div, .register .regItem div {
  position: relative;
  margin: 15px 0;
}

.register .signItem div .proof, .register .regItem div .proof {
  display: none;
  position: absolute;
  left: 12px;
  bottom: -25px;
  font-size: 12px;
}

.register .signItem .setSing, .register .regItem .setSing {
  position: relative;
  bottom: -10px;
}

.register .signItem .setSing label, .register .regItem .setSing label {
  font-weight: initial;
}

.register .signItem .setSing .forget, .register .regItem .setSing .forget {
  float: right;
}

.register .signItem .setSing .proof, .register .regItem .setSing .proof {
  bottom: -8px;
}

.register .signItem .textInput, .register .regItem .textInput {
  width: 100%;
}

.register .signItem input, .register .regItem input {
  padding: 0 10px;
}

.register .signItem .phoneBox input, .register .regItem .phoneBox input {
  display: inline-block;
}

.register .signItem .phoneBox .textInput, .register .regItem .phoneBox .textInput {
  width: 72%;
}

.register .signItem .phoneBox .codeSub, .register .regItem .phoneBox .codeSub {
  height: 30px;
  width: 94px;
}

.register .regItem {
  display: none;
  width: 350px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  color: #787d82;
}

.register .regItem div {
  position: relative;
  margin: 15px 0;
}

.register .regItem div .proof {
  display: none;
  position: absolute;
  bottom: -25px;
  font-size: 12px;
}

.register .submitBut, .register .registerBut {
  cursor: pointer;
  font-size: 18px;
  color: #f3f5f7;
  background: #00a4ff;
  text-align: center;
  line-height: 40px;
}

.register footer {
  color: #787d82;
  background: #f3f5f7;
  text-align: center;
  bottom: 0px;
}

.register footer a {
  display: inline-block;
  padding: 0 40px;
  margin-bottom: 20px;
  line-height: 15px;
  border-right: solid 1px #787d82;
}

/** 登录&注册 - start **/
