@charset "UTF-8";
/*
 * colors variables
 */
html, body {
  min-height: 100%;
  height: 100%;
  min-width: 1000px;
  background: #f3f5f7;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.cl-orange {
  color: #ff5a2c !important;
}

.more {
  color: #2da1e7;
}

.cl-basics {
  color: #00a4ff;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #00a4ff;
  border: none;
}

.cl-boder {
  border: none;
}

/****
* icon 图标 common
****/
.i-chevron-top {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px 2px;
}

.i-chevron-bot {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px -6px;
}

.i-heart {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -104px 0px;
}

.i-star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -57px 0px;
}

.i-weixin {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px 1px;
}

.i-qq {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -26px 0px;
}

.i-answer {
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px 0px;
}

.i-browse {
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px -20px;
}

.i-problem {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px -21px;
}

.i-node {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -102px -21px;
}

.i-edt {
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -19px;
}

.i-del {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -43px -19px;
}

.i-laud {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -64px -19px;
}

.i-coll {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 1px -35px;
}

.i-play {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -35px;
  margin-right: 8px;
}

/*
 * colors variables
 */
header a {
  color: #333;
}

header a:hover {
  color: #ff7c2d;
  text-decoration: none;
}

header .navbar {
  min-width: 1024px;
  margin: 0 auto;
  border-radius: 0px;
  overflow: hidden;
}

header .navbar .logo {
  width: 195px;
  float: left;
  min-width: 110px;
  margin-right: 2%;
}

header .navbar .starch {
  float: right;
  min-width: 326px;
  margin-right: 5%;
}

header .navbar .sign-in {
  float: right;
}

header .navbar .sign-in a {
  color: #14191f;
}

header .navbar .sign-in span {
  color: #787d82;
}

header .navbar .sign-in .personal {
  color: #787d82;
}

header .navbar .sign-in .personal .personalIco::before {
  content: ' ● ';
  color: red;
  font-weight: bold;
  right: 1px;
  top: -8px;
  position: absolute;
}

header .navbar .sign-in .personal span {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
  margin-left: 8px;
  background: url(../img/asset-personalIco.png) no-repeat;
}

header .navbar .sign-in .myInfo {
  color: #787d82;
}

header .navbar .sign-in .myInfo img {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: -2px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

header .navbar-nav {
  font-size: 18px;
  margin: 0 20px;
  font-weight: bold;
  color: #333;
}

header .navbar-nav li a {
  padding: 9px 15px !important;
}

header .active {
  border-bottom: solid 2px #00a4ff;
}

header .sign-in {
  margin-top: 12px;
  margin-right: 0px;
}

header .sign-in a {
  color: #00a4ff;
}

header .learingHeader {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

header input {
  height: 35px;
  margin-top: 7px;
}

header .input-search {
  border: solid 2px #00a4ff;
  width: 280px;
  padding-left: 10px;
}

header .search-buttom {
  border: solid 2px #00a4ff;
  background: #00a4ff;
  color: #fff;
  font-weight: bold;
  width: 14%;
  max-width: 80px;
}

/*
 * colors variables
 */
footer {
  width: 100%;
  background: #fff;
  margin-top: 20px;
  padding: 40px 0;
  line-height: 260%;
}

footer .btn-primary {
  min-width: 100px;
  margin-top: 10px;
}

footer img {
  position: relative;
  top: -8px;
  left: 0px;
}

footer dt {
  margin-bottom: 20px;
}

footer dd {
  line-height: 200%;
}

/*
 * colors variables
 */
.article-banner {
  position: relative;
}

.article-banner .banner-bg {
  width: 100%;
  height: 240px;
  background: url(../img/widget-bannerBg.png) top center no-repeat;
  background-size: cover;
}

.article-banner .banner-info {
  margin: 20px 0;
  position: absolute;
  width: 80%;
  max-width: 1170px;
  color: #fff;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.article-banner .banner-info .banner-left {
  float: left;
}

.article-banner .banner-info .banner-left .tit {
  font-size: 32px;
}

.article-banner .banner-info .banner-left .pic {
  font-size: 16px;
}

.article-banner .banner-info .banner-left .pic .new-pic {
  color: #ca50f8;
}

.article-banner .banner-info .banner-left .pic .old-pic {
  color: #999;
  text-decoration: line-through;
}

.article-banner .banner-info .banner-left .info {
  margin-top: 15px;
}

.article-banner .banner-info .banner-left .info a {
  background: #00a4ff;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  top: -10px;
}

.article-banner .banner-info .banner-left .info span {
  display: inline-block;
  padding: 0px 20px;
  font-size: 18px;
  border-right: solid 1px #787d82;
}

.article-banner .banner-info .banner-left .info span em {
  font-size: 14px;
  display: block;
}

.article-banner .banner-info .banner-left .info span:last-child {
  border: none;
}

.article-banner .banner-info .banner-rit {
  float: right;
}

.article-banner .banner-info .banner-rit .vid-act {
  color: #dadada;
}

.article-banner .banner-info .banner-rit .vid-act i {
  margin: 0 5px;
  position: relative;
  top: 1px;
}

.article-banner .banner-info .banner-rit .vid-act span {
  display: inline-block;
  width: 49%;
  line-height: 15px;
  text-align: center;
  margin: 15px 0;
}

.article-banner .banner-info .banner-rit .vid-act span:nth-child(1) {
  border-right: solid 1px #787d82;
}

/*
 * colors variables
 */
html, body {
  min-height: 100%;
  height: 100%;
  min-width: 1000px;
  background: #f3f5f7;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.cl-orange {
  color: #ff5a2c !important;
}

.more {
  color: #2da1e7;
}

.cl-basics {
  color: #00a4ff;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #00a4ff;
  border: none;
}

.cl-boder {
  border: none;
}

/****
* icon 图标 common
****/
.i-chevron-top {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px 2px;
}

.i-chevron-bot {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px -6px;
}

.i-heart {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -104px 0px;
}

.i-star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -57px 0px;
}

.i-weixin {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px 1px;
}

.i-qq {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -26px 0px;
}

.i-answer {
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px 0px;
}

.i-browse {
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px -20px;
}

.i-problem {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px -21px;
}

.i-node {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -102px -21px;
}

.i-edt {
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -19px;
}

.i-del {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -43px -19px;
}

.i-laud {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -64px -19px;
}

.i-coll {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 1px -35px;
}

.i-play {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -35px;
  margin-right: 8px;
}

.article-cont {
  width: 75%;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

.article-cont .article-left-box {
  width: 75%;
  float: left;
}

.article-cont .article-left-box .tit-list {
  font-size: 16px;
  margin: 20px 0;
}

.article-cont .article-left-box .tit-list a {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  color: #787d82;
  text-decoration: none;
}

.article-cont .article-left-box .tit-list a:hover {
  color: #00a4ff;
}

.article-cont .article-left-box .tit-list .active {
  color: #00a4ff;
}

.article-cont .article-left-box .content .content-title {
  margin-bottom: 10px;
  background: #fff;
  padding: 20px 30px 20px 30px;
  color: #787d82;
}

.article-cont .article-left-box .content .content-title a {
  color: #787d82;
  display: inline-block;
  line-height: 24px;
  padding: 0px 10px;
  margin: 5px 5px;
  text-decoration: none;
}

.article-cont .article-left-box .content .content-title p {
  position: relative;
}

.article-cont .article-left-box .content .content-title .more {
  position: absolute;
  right: 0px;
  top: 20px;
  text-decoration: none;
  color: #00a4ff;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.article-cont .article-left-box .content .content-title .all {
  margin-left: 0px;
  font-size: 14px;
  color: #fff;
  background: #00a4ff;
}

.article-cont .article-left-box .content .item {
  background: #fff;
  margin-bottom: 10px;
  font-size: 16px;
  color: #050505;
  padding: 20px 30px 20px 30px;
  overflow: hidden;
}

.article-cont .article-left-box .content .item .item-left {
  float: left;
  width: 100%;
  color: #0077cc;
  text-align: left;
  position: relative;
}

.article-cont .article-left-box .content .item .item-left .touxiang {
  border-radius: 50%;
}

.article-cont .article-left-box .content .item .item-left .name {
  padding: 0 10px;
}

.article-cont .article-left-box .content .item .item-left .action-info {
  display: inline-block;
  position: absolute;
  color: #787d82;
  right: 0px;
  top: 20px;
}

.article-cont .article-left-box .content .item .item-left .action-info .action {
  margin-left: 15px;
  font-size: 14px;
}

.article-cont .article-left-box .content .item .item-left .action-info .action span {
  margin: 0 10px;
}

.article-cont .article-left-box .content .item .item-left .action-info .action span i {
  margin: 0 7px;
  position: relative;
  top: 2px;
}

.article-cont .article-left-box .content .item .item-left pre {
  height: 0px;
  padding: 0px;
  margin: 0;
  border: none;
  overflow: hidden;
}

.article-cont .article-left-box .content .item .item-left .mask {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 998;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.article-cont .article-left-box .content .item .item-left .code-pop {
  height: 80%;
  z-index: 999;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1199px;
}

.article-cont .article-left-box .content .item .item-left .video-time {
  color: #0077cc;
  position: absolute;
  top: 0px;
  right: 0px;
}

.article-cont .article-left-box .content .itemlast {
  background: #fff;
  padding: 7px 20px;
  text-align: center;
}

.article-cont .article-left-box .content .itemlast .overwrite {
  padding: 0px;
}

.article-cont .article-right-box {
  width: 24%;
  float: right;
  padding-top: 82px;
}

.article-cont .article-right-box .question-butte {
  background: #00a4ff;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  padding: 8px 0;
}

.article-cont .article-right-box .question-butte i {
  position: relative;
  top: 3px;
  margin-right: 7px;
}

.article-cont .article-right-box .about-teach {
  background: #fff;
  padding: 20px;
}

.article-cont .article-right-box .about-teach .teach-info {
  overflow: hidden;
}

.article-cont .article-right-box .about-teach .teach-info img {
  float: left;
  margin-right: 10px;
}

.article-cont .article-right-box .about-teach .teach-info span {
  font-size: 16px;
}

.article-cont .article-right-box .about-teach .teach-info .about {
  text-align: left;
  line-height: 24px;
  margin-top: 5px;
  color: #5f1898;
}

.article-cont .article-right-box .about-teach p:nth-child(2) {
  text-align: center;
  padding: 10px 0;
}

.article-cont .article-right-box .about-teach p:nth-child(2) a {
  display: inline-block;
  width: 100%;
  background: #00a4ff;
  color: #fff;
}

.article-cont .article-right-box .about-teach .synopsis {
  color: #787d82;
}

.article-cont .article-right-box .learing-box .tit {
  font-size: 18px;
  color: #00a4ff;
  padding: 20px;
}

.article-cont .article-right-box .learing-box .item-box {
  background: #fff;
}

.article-cont .article-right-box .learing-box .item-box .item-top {
  background: url(./titBg.png) no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.article-cont .article-right-box .learing-box .item-box .item-top .top-tit {
  font-size: 22px;
  padding-top: 20px;
  font-weight: bold;
}

.article-cont .article-right-box .learing-box .item-box .item-top .top-lab {
  font-size: 16px;
  margin-bottom: 10px;
}

.article-cont .article-right-box .learing-box .item-box .item-top .top-num {
  font-size: 14px;
  text-align: left;
  position: relative;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 34px;
}

.article-cont .article-right-box .learing-box .item-box .item-top .top-num span {
  position: absolute;
  right: 20px;
  top: 0px;
}

.article-cont .article-right-box .learing-box .item-box .item-list {
  padding: 0 20px;
}

.article-cont .article-right-box .learing-box .item-box .item-list a {
  color: #050505;
  display: block;
  line-height: 50px;
  border-bottom: solid 1px #bdbdbd;
}

.article-cont .article-right-box .learing-box .item-box .item-list a:last-child {
  border: none;
}
