@charset "UTF-8";
/*
 * colors variables
 */
html, body {
  min-height: 100%;
  height: 100%;
  min-width: 1000px;
  background: #f3f5f7;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.cl-orange {
  color: #ff5a2c !important;
}

.more {
  color: #2da1e7;
}

.cl-basics {
  color: #00a4ff;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #00a4ff;
  border: none;
}

.cl-boder {
  border: none;
}

/****
* icon 图标 common
****/
.i-chevron-top {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px 2px;
}

.i-chevron-bot {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px -6px;
}

.i-heart {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -104px 0px;
}

.i-star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -57px 0px;
}

.i-weixin {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px 1px;
}

.i-qq {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -26px 0px;
}

.i-answer {
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px 0px;
}

.i-browse {
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px -20px;
}

.i-problem {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px -21px;
}

.i-node {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -102px -21px;
}

.i-edt {
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -19px;
}

.i-del {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -43px -19px;
}

.i-laud {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -64px -19px;
}

.i-coll {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 1px -35px;
}

.i-play {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -35px;
  margin-right: 8px;
}

/*
 * colors variables
 */
header {
  width: 100%;
  background: #fff;
}

header a {
  color: #333;
}

header a:hover {
  color: #ff7c2d;
  text-decoration: none;
}

header .navbar {
  min-width: 1024px;
  margin: 0 auto;
  border-radius: 0px;
  overflow: hidden;
}

header .navbar .logo {
  width: 195px;
  float: left;
  min-width: 110px;
  margin-right: 2%;
}

header .navbar .starch {
  float: right;
  min-width: 326px;
  margin-right: 5%;
}

header .navbar .sign-in {
  float: right;
}

header .navbar .sign-in a {
  color: #14191f;
}

header .navbar .sign-in span {
  color: #787d82;
}

header .navbar .sign-in .personal {
  color: #787d82;
}

header .navbar .sign-in .personal .personalIco::before {
  content: ' ● ';
  color: red;
  font-weight: bold;
  right: 1px;
  top: -8px;
  position: absolute;
}

header .navbar .sign-in .personal span {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
  margin-left: 8px;
  background: url(../img/asset-personalIco.png) no-repeat;
}

header .navbar .sign-in .myInfo {
  color: #787d82;
}

header .navbar .sign-in .myInfo img {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: -2px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

header .navbar-nav {
  font-size: 18px;
  margin: 0 20px;
  font-weight: bold;
  color: #333;
}

header .navbar-nav li a {
  padding: 9px 15px !important;
}

header .active {
  border-bottom: solid 2px #00a4ff;
}

header .sign-in {
  margin-top: 12px;
  margin-right: 0px;
}

header .sign-in a {
  color: #00a4ff;
}

header .learingHeader {
  max-width: 1366px;
  margin: 0 auto;
  background: #fff;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

header input {
  height: 35px;
  margin-top: 7px;
}

header .input-search {
  border: solid 2px #00a4ff;
  width: 280px;
  padding-left: 10px;
}

header .search-buttom {
  border: solid 2px #00a4ff;
  background: #00a4ff;
  color: #fff;
  font-weight: bold;
  width: 14%;
  max-width: 80px;
}

/*
 * colors variables
 */
footer {
  width: 100%;
  background: #fff;
  margin-top: 20px;
  padding: 40px 0;
  line-height: 260%;
}

footer .btn-primary {
  min-width: 100px;
  margin-top: 10px;
}

footer img {
  position: relative;
  top: -8px;
  left: 0px;
}

footer dt {
  margin-bottom: 20px;
}

footer dd {
  line-height: 200%;
}

.wrap {
  width: 1170px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

/*头部*/
.register-head {
  background: #fff;
  box-shadow: 2px 2px 2px #f4f4f4;
}

.register-head .logo {
  display: block;
  padding: 15px 0;
  float: left;
  margin-left: 20px;
}

.register-head .logo img {
  display: block;
}

.register-head .gologin {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #00a4ff;
}

/*尾部*/
.register-footer {
  overflow: hidden;
  line-height: 24px;
  background: #fff;
}

.register-footer ul {
  overflow: hidden;
  margin: 20px;
}

.register-footer ul li {
  display: inline-block;
}

.register-footer ul li a {
  padding: 0 20px;
  color: #333;
  position: relative;
}

.register-footer ul li a:hover {
  color: #00a4ff;
}

.register-footer ul li a:after {
  content: " ";
  display: block;
  height: 14px;
  width: 1px;
  background: #333;
  position: absolute;
  top: 2px;
  right: 0;
}

/*注册body*/
.register-body {
  background: #fff;
  border-top: solid 2px #00a4ff;
  border-bottom: solid 1px #f4f4f4;
  position: relative;
}

.register-body .register-ico {
  position: absolute;
  left: 50%;
  margin-left: -540px;
  top: 23%;
}

.register-body .r-position {
  position: absolute;
  box-shadow: 1px 1px 2px #f4f4f4;
  top: 50%;
  left: 50%;
  margin-left: 120px;
  background: #fff;
  border: 1px solid #f5f5f5;
  padding: 30px 40px 10px;
  /*间距*/
  /*输入框*/
  /*selelct*/
  /*所在地*/
  /*生日*/
  /*验证码 输入框和图片*/
  /*验证文字*/
  /*按钮*/
  /*协议链接*/
}

.register-body .r-position li {
  margin-bottom: 20px;
  list-style: none;
}

.register-body .r-position .page-header {
  margin: -10px -40px 30px;
  padding-left: 40px;
}

.register-body .r-position .form-group {
  margin-bottom: 0;
  position: relative;
}

.register-body .r-position label {
  font-weight: normal;
}

.register-body .r-position .form-control {
  display: inline-block;
  width: 230px;
}

.register-body .r-position select {
  float: left;
}

.register-body .r-position select + select {
  margin-left: 10px;
}

.register-body .r-position .select2 .form-control {
  width: 110px;
}

.register-body .r-position .select3 .form-control {
  width: 80px;
}

.register-body .r-position .select3 .month-day {
  width: 65px;
}

.register-body .r-position .verif input {
  width: 127px;
  float: left;
  margin-right: 20px;
}

.register-body .r-position .verif img {
  float: left;
  width: 66px;
  margin-right: 4px;
}

.register-body .r-position .verif-span {
  color: #ff7c2d;
  position: absolute;
  bottom: -18px;
  left: 15px;
  display: none;
}

.register-body .r-position .btn {
  width: 230px;
}

.register-body .r-position a {
  color: #00a4ff;
}

.register-body .r-position .mag-left {
  margin-left: 90px;
}

.register-body .teacher {
  width: 450px;
  height: 700px;
  margin-top: -350px;
}
