@charset "UTF-8";
/*
 * colors variables
 */
html, body {
  min-height: 100%;
  height: 100%;
  min-width: 1000px;
  background: #f3f5f7;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.cl-orange {
  color: #ff5a2c !important;
}

.more {
  color: #2da1e7;
}

.cl-basics {
  color: #00a4ff;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #00a4ff;
  border: none;
}

.cl-boder {
  border: none;
}

/****
* icon 图标 common
****/
.i-chevron-top {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px 2px;
}

.i-chevron-bot {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px -6px;
}

.i-heart {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -104px 0px;
}

.i-star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -57px 0px;
}

.i-weixin {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px 1px;
}

.i-qq {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -26px 0px;
}

.i-answer {
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px 0px;
}

.i-browse {
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px -20px;
}

.i-problem {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px -21px;
}

.i-node {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -102px -21px;
}

.i-edt {
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -19px;
}

.i-del {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -43px -19px;
}

.i-laud {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -64px -19px;
}

.i-coll {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 1px -35px;
}

.i-play {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -35px;
  margin-right: 8px;
}

/*
 * colors variables
 */
header a {
  color: #333;
}

header a:hover {
  color: #ff7c2d;
  text-decoration: none;
}

header .navbar {
  min-width: 1024px;
  margin: 0 auto;
  border-radius: 0px;
  overflow: hidden;
}

header .navbar .logo {
  width: 195px;
  float: left;
  min-width: 110px;
  margin-right: 2%;
}

header .navbar .starch {
  float: right;
  min-width: 326px;
  margin-right: 5%;
}

header .navbar .sign-in {
  float: right;
}

header .navbar .sign-in a {
  color: #14191f;
}

header .navbar .sign-in span {
  color: #787d82;
}

header .navbar .sign-in .personal {
  color: #787d82;
}

header .navbar .sign-in .personal .personalIco::before {
  content: ' ● ';
  color: red;
  font-weight: bold;
  right: 1px;
  top: -8px;
  position: absolute;
}

header .navbar .sign-in .personal span {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
  margin-left: 8px;
  background: url(../img/asset-personalIco.png) no-repeat;
}

header .navbar .sign-in .myInfo {
  color: #787d82;
}

header .navbar .sign-in .myInfo img {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: -2px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

header .navbar-nav {
  font-size: 18px;
  margin: 0 20px;
  font-weight: bold;
  color: #333;
}

header .navbar-nav li a {
  padding: 9px 15px !important;
}

header .active {
  border-bottom: solid 2px #00a4ff;
}

header .sign-in {
  margin-top: 12px;
  margin-right: 0px;
}

header .sign-in a {
  color: #00a4ff;
}

header .learingHeader {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

header input {
  height: 35px;
  margin-top: 7px;
}

header .input-search {
  border: solid 2px #00a4ff;
  width: 280px;
  padding-left: 10px;
}

header .search-buttom {
  border: solid 2px #00a4ff;
  background: #00a4ff;
  color: #fff;
  font-weight: bold;
  width: 14%;
  max-width: 80px;
}

/*
 * colors variables
 */
footer {
  width: 100%;
  background: #fff;
  margin-top: 20px;
  padding: 40px 0;
  line-height: 260%;
}

footer .btn-primary {
  min-width: 100px;
  margin-top: 10px;
}

footer img {
  position: relative;
  top: -8px;
  left: 0px;
}

footer dt {
  margin-bottom: 20px;
}

footer dd {
  line-height: 200%;
}

/*
 * colors variables
 */
html, body {
  min-height: 100%;
  height: 100%;
  min-width: 1000px;
  background: #f3f5f7;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.cl-orange {
  color: #ff5a2c !important;
}

.more {
  color: #2da1e7;
}

.cl-basics {
  color: #00a4ff;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #00a4ff;
  border: none;
}

.cl-boder {
  border: none;
}

/****
* icon 图标 common
****/
.i-chevron-top {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px 2px;
}

.i-chevron-bot {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px -6px;
}

.i-heart {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -104px 0px;
}

.i-star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -57px 0px;
}

.i-weixin {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px 1px;
}

.i-qq {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -26px 0px;
}

.i-answer {
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px 0px;
}

.i-browse {
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px -20px;
}

.i-problem {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px -21px;
}

.i-node {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -102px -21px;
}

.i-edt {
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -19px;
}

.i-del {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -43px -19px;
}

.i-laud {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -64px -19px;
}

.i-coll {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 1px -35px;
}

.i-play {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -35px;
  margin-right: 8px;
}

.learing-course .career-box .career-top-box {
  overflow: hidden;
  margin: 20px auto;
  background: #fff;
  padding: 15px 10px;
  box-shadow: 2px 2px 4px #ccc;
}

.learing-course .career-box .career-top-box li {
  float: left;
  margin-right: 15px;
  padding: 0 17px;
  list-style: none;
  border-right: solid 1px #ccc;
}

.learing-course .career-box .career-top-box li:last-child {
  border-right: none;
}

.learing-course .career-box .career-top-box .active {
  color: #00a4ff;
}

.learing-course .career-box .career-cont-box {
  max-width: 1170px;
  min-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

.learing-course .career-box .career-cont-box .career-item {
  margin: 20px 0;
  overflow: hidden;
  color: #363c40;
  background: #fff;
}

.learing-course .career-box .career-cont-box .career-item .career-left {
  width: 30%;
  max-width: 216px;
  float: left;
}

.learing-course .career-box .career-cont-box .career-item .career-center {
  float: left;
  width: 30%;
  height: 100%;
  line-height: 26px;
  padding-top: 40px;
  padding-left: 20px;
}

.learing-course .career-box .career-cont-box .career-item .career-center .title {
  color: #050505;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}

.learing-course .career-box .career-cont-box .career-item .career-center .info {
  margin-bottom: 20px;
}

.learing-course .career-box .career-cont-box .career-item .career-center .pic {
  margin-top: 35px;
}

.learing-course .career-box .career-cont-box .career-item .career-center .pic span:nth-child(1) {
  font-size: 16px;
  color: red;
  margin-right: 30px;
}

.learing-course .career-box .career-cont-box .career-item .career-center .pic span:nth-child(1) em {
  font-size: 20px;
}

.learing-course .career-box .career-cont-box .career-item .career-center .pic span:nth-child(2) {
  font-size: 14px;
  color: #999;
  margin-right: 30px;
  text-decoration: line-through;
}

.learing-course .career-box .career-cont-box .career-item .career-center .pic span:nth-child(2) em {
  font-size: 16px;
  color: #f07700;
}

.learing-course .career-box .career-cont-box .career-item .career-right {
  float: left;
  width: 50%;
}

.learing-course .career-box .career-cont-box .career-item .career-right .item-roll-box {
  margin: 30px 0;
  overflow: hidden;
}

.learing-course .career-box .career-cont-box .career-item .career-right .item-roll-box .recom-item {
  padding-bottom: 10px;
  background: #fff;
  margin-bottom: 15px;
  width: 228px;
  box-shadow: 0px 0px 4px #999;
  margin-left: 3px;
  margin-right: 20px;
  float: left;
}

.learing-course .career-box .career-cont-box .career-item .career-right .item-roll-box .recom-item p {
  position: relative;
}

.learing-course .career-box .career-cont-box .career-item .career-right .item-roll-box .recom-item p .lab {
  font-size: 12px;
  text-align: center;
  width: 41px;
  height: 24px;
  line-height: 22px;
  color: #f07700;
  position: absolute;
  right: -4px;
  top: 10px;
  background: url(../img/widget-hotIco.png) no-repeat;
}

.learing-course .career-box .career-cont-box .career-item .career-right .item-roll-box .recom-item ul {
  padding: 25px 25px 15px 25px;
  font-size: 14px;
}

.learing-course .career-box .career-cont-box .career-item .career-right .item-roll-box .recom-item ul li {
  list-style: none;
}

.learing-course .career-box .career-cont-box .career-item .career-right .item-roll-box .recom-item ul li:nth-child(2) {
  margin-top: 20px;
  color: #999;
}

.learing-course .career-box .career-cont-box .career-item .career-right .item-roll-box .recom-item ul li:nth-child(2) span {
  color: #ff7c2d;
}

.learing-course .career-box .career-cont-box .career-item .career-right .item-roll-box .recom-item ul li:nth-child(2) em {
  font-weight: bold;
}

.learing-course .career-box .career-cont-box .career-item .career-right .item-roll-box .recom-item a {
  color: #050505;
  text-decoration: none;
}

.learing-course .career-box .career-cont-box .career-item .career-right .roll-scroll {
  overflow: inherit;
}

.learing-course .career-box .career-cont-box .career-item .career-right .scroll-bot {
  margin-bottom: 20px;
  position: relative;
}

.learing-course .career-box .career-cont-box .career-item .career-right .scroll-bot .scroll-back {
  background: #ccc;
  height: 12px;
  border-radius: 10px;
  width: 100%;
}

.learing-course .career-box .career-cont-box .career-item .career-right .scroll-bot .scroll-back .roll-left {
  position: relative;
  width: 0;
  height: 12px;
  border-radius: 12px;
  background: rgba(235, 208, 252, 0.8);
}

.learing-course .career-box .career-cont-box .career-item .career-right .scroll-bot .scroll-back .roll-button {
  position: absolute;
  left: 0;
  top: -4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ba7ce1;
}
