@charset "UTF-8";
/*
 * colors variables
 */
html, body {
  min-height: 100%;
  height: 100%;
  min-width: 1000px;
  background: #f3f5f7;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.cl-orange {
  color: #ff5a2c !important;
}

.more {
  color: #2da1e7;
}

.cl-basics {
  color: #00a4ff;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #00a4ff;
  border: none;
}

.cl-boder {
  border: none;
}

/****
* icon 图标 common
****/
.i-chevron-top {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px 2px;
}

.i-chevron-bot {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px -6px;
}

.i-heart {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -104px 0px;
}

.i-star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -57px 0px;
}

.i-weixin {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px 1px;
}

.i-qq {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -26px 0px;
}

.i-answer {
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px 0px;
}

.i-browse {
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px -20px;
}

.i-problem {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px -21px;
}

.i-node {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -102px -21px;
}

.i-edt {
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -19px;
}

.i-del {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -43px -19px;
}

.i-laud {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -64px -19px;
}

.i-coll {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 1px -35px;
}

.i-play {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -35px;
  margin-right: 8px;
}

.interest-box {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
}

.interest-box .mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 999;
}

.interest-box .interest-cont {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  padding: 35px;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 999;
}

.interest-box .interest-cont .top-tit {
  color: #00a4ff;
  font-size: 22px;
}

.interest-box .interest-cont .top-tit span {
  color: #787d82;
  font-size: 14px;
}

.interest-box .interest-cont .item-box {
  overflow: hidden;
}

.interest-box .interest-cont .item-box .item {
  float: left;
  width: 32%;
  margin: 2% 0 1% 2%;
}

.interest-box .interest-cont .item-box .item .title {
  font-size: 16px;
}

.interest-box .interest-cont .item-box .item li {
  padding: 5px 20px;
  margin: 10px 5px;
  list-style: none;
  float: left;
  border: solid 1px #787d82;
}

.interest-box .interest-cont .item-box .modal-open div:nth-child(1) {
  margin-left: 0px;
}

.interest-box .interest-cont .item-box .modal-open div:last-child {
  margin-right: 0px;
}

.interest-box .interest-cont .item-A .title {
  color: #f07700;
}

.interest-box .interest-cont .item-A .active {
  background: #f07700;
  color: #fff;
  border: solid 1px #f07700;
}

.interest-box .interest-cont .item-B .title {
  color: #75aaef;
}

.interest-box .interest-cont .item-B .active {
  background: #75aaef;
  color: #fff;
  border: solid 1px #75aaef;
}

.interest-box .interest-cont .item-C .title {
  color: #333;
}

.interest-box .interest-cont .item-C .active {
  background: #333;
  color: #fff;
  border: solid 1px #333;
}

.interest-box .interest-cont .item-D .title {
  color: #877cd4;
}

.interest-box .interest-cont .item-D .active {
  background: #877cd4;
  color: #fff;
  border: solid 1px #877cd4;
}

.interest-box .interest-cont .item-E .title {
  color: #d77ba5;
}

.interest-box .interest-cont .item-E .active {
  background: #d77ba5;
  color: #fff;
  border: solid 1px #d77ba5;
}

.interest-box .interest-cont .item-F .title {
  color: #7cd877;
}

.interest-box .interest-cont .item-F .active {
  background: #7cd877;
  color: #fff;
  border: solid 1px #7cd877;
}

.interest-box .button {
  text-align: center;
  padding: 10px;
  font-size: 22px;
}

.interest-box .button span {
  cursor: pointer;
  width: 140px;
  margin: 0 10px;
  display: inline-block;
  padding: 5px;
  color: #00a4ff;
  border: solid 1px #00a4ff;
}

.interest-box .button span:nth-child(1) {
  color: #fff;
  background: #00a4ff;
  border: solid 1px #00a4ff;
}
