/*
 * colors variables
 */
footer {
  width: 100%;
  background: #fff;
  margin-top: 20px;
  padding: 40px 0;
  line-height: 260%;
}

footer .btn-primary {
  min-width: 100px;
  margin-top: 10px;
}

footer img {
  position: relative;
  top: -8px;
  left: 0px;
}

footer dt {
  margin-bottom: 20px;
}

footer dd {
  line-height: 200%;
}
