/*
 * colors variables
 */
.article-banner {
  position: relative;
}

.article-banner .banner-bg {
  width: 100%;
  height: 240px;
  background: url(../img/widget-bannerBg.png) top center no-repeat;
  background-size: cover;
}

.article-banner .banner-info {
  margin: 20px 0;
  position: absolute;
  width: 80%;
  max-width: 1170px;
  color: #fff;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.article-banner .banner-info .banner-left {
  float: left;
}

.article-banner .banner-info .banner-left .tit {
  font-size: 32px;
}

.article-banner .banner-info .banner-left .pic {
  font-size: 16px;
}

.article-banner .banner-info .banner-left .pic .new-pic {
  color: #ca50f8;
}

.article-banner .banner-info .banner-left .pic .old-pic {
  color: #999;
  text-decoration: line-through;
}

.article-banner .banner-info .banner-left .info {
  margin-top: 15px;
}

.article-banner .banner-info .banner-left .info a {
  background: #00a4ff;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  top: -10px;
}

.article-banner .banner-info .banner-left .info span {
  display: inline-block;
  padding: 0px 20px;
  font-size: 18px;
  border-right: solid 1px #787d82;
}

.article-banner .banner-info .banner-left .info span em {
  font-size: 14px;
  display: block;
}

.article-banner .banner-info .banner-left .info span:last-child {
  border: none;
}

.article-banner .banner-info .banner-rit {
  float: right;
}

.article-banner .banner-info .banner-rit .vid-act {
  color: #dadada;
}

.article-banner .banner-info .banner-rit .vid-act i {
  margin: 0 5px;
  position: relative;
  top: 1px;
}

.article-banner .banner-info .banner-rit .vid-act span {
  display: inline-block;
  width: 49%;
  line-height: 15px;
  text-align: center;
  margin: 15px 0;
}

.article-banner .banner-info .banner-rit .vid-act span:nth-child(1) {
  border-right: solid 1px #787d82;
}
