/*
 * colors variables
 */
.teacher-list {
  position: relative;
  overflow: hidden;
}

.teacher-list ul, .teacher-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.teacher-list .teach-item-adv {
  float: left;
}

.teacher-list .title {
  margin-bottom: 15px;
  position: relative;
  font-size: 20px;
  text-align: left;
}

.teacher-list .teach-item {
  position: relative;
  width: 18.8%;
  margin-left: 1.5%;
  float: left;
}

.teacher-list .teach-item .lab {
  position: absolute;
  background: url(../img/widget-learNumIco.png) no-repeat;
  width: 84px;
  line-height: 22px;
  height: 24px;
  color: #ff7c2d;
  font-size: 12px;
  padding: 0 5px;
  top: 10px;
  right: -1px;
  z-index: 9;
}

.teacher-list .teach-item .teach-info {
  text-align: left;
  padding: 10px;
  color: #fff;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0px;
  width: 100%;
  height: 112px;
}

.teacher-list .first-box div:nth-child(1) {
  margin-left: 0;
}

.teacher-list .two-box {
  margin-top: 30px;
}

.teacher-list .two-box div:nth-child(1) {
  width: 39.1%;
}
