@charset "UTF-8";
/*
 * colors variables
 */
html, body {
  min-height: 100%;
  height: 100%;
  min-width: 1000px;
  background: #f3f5f7;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.cl-orange {
  color: #ff5a2c !important;
}

.more {
  color: #2da1e7;
}

.cl-basics {
  color: #00a4ff;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #00a4ff;
  border: none;
}

.cl-boder {
  border: none;
}

/****
* icon 图标 common
****/
.i-chevron-top {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px 2px;
}

.i-chevron-bot {
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -83px -6px;
}

.i-heart {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -104px 0px;
}

.i-star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -57px 0px;
}

.i-weixin {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px 1px;
}

.i-qq {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -26px 0px;
}

.i-answer {
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px 0px;
}

.i-browse {
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 0px -20px;
}

.i-problem {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -133px -21px;
}

.i-node {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -102px -21px;
}

.i-edt {
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -19px;
}

.i-del {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -43px -19px;
}

.i-laud {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -64px -19px;
}

.i-coll {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: 1px -35px;
}

.i-play {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url(../img/asset-icoGather.png) no-repeat;
  background-position: -22px -35px;
  margin-right: 8px;
}

.week-info-cont .content .top-title {
  background: #fff;
  color: #fff;
  padding: 30px 0;
  margin-bottom: 20px;
}

.week-info-cont .content .cont-about {
  background: #fff;
  margin-bottom: 15px;
}

.week-info-cont .content .cont-about .tit {
  font-size: 22px;
  color: #00a4ff;
  padding: 15px;
  padding-left: 0px;
}

.week-info-cont .content .cont-about .tit span {
  border-left: solid 8px #00a4ff;
  padding-left: 20px;
}

.week-info-cont .content .cont-about .cont {
  height: 68px;
  overflow: hidden;
  padding: 10px;
  font-size: 16px;
  line-height: 32px;
  transition: 1s;
}

.week-info-cont .content .cont-about .more {
  display: block;
  line-height: 26px;
  padding: 10px;
}

.week-info-cont .content .cont-about .suitable-title {
  margin: 0 15px;
  line-height: 30px;
  border-bottom: solid 1px #00a4ff;
  color: #00a4ff;
}

.week-info-cont .content .cont-about .suitable {
  color: #787d82;
  font-size: 14px;
  line-height: 24px;
  padding: 15px;
}

.week-info-cont .content .cont-course {
  margin: 15px 0;
  background: #fff;
}

.week-info-cont .content .cont-course .tit {
  font-size: 22px;
  color: #00a4ff;
  padding: 15px;
  padding-left: 0px;
}

.week-info-cont .content .cont-course .tit span {
  border-left: solid 8px #00a4ff;
  padding-left: 20px;
}

.week-info-cont .content .cont-course .cont {
  padding: 20px;
}

.week-info-cont .content .cont-course .cont .school {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: solid 1px #f4f4f4;
}

.week-info-cont .content .cont-course .cont .school p:nth-child(1) {
  font-size: 22px;
}

.week-info-cont .content .cont-course .cont .info {
  margin-bottom: 10px;
  font-size: 18px;
}

.week-info-cont .content .cont-course .cont .info img {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 15px;
  border-radius: 50%;
}

.week-info-cont .content .cont-course .cont .info p {
  margin: 0;
  line-height: 30px;
}

.week-info-cont .content .cont-course .cont .info p:nth-child(2) {
  font-size: 16px;
  color: #999;
}

.week-info-cont .content .cont-course .cont .table {
  border: solid 1px #ccc;
  margin: 10px 0;
}

.week-info-cont .content .cont-course .cont .table th {
  text-align: center;
  border-right: solid 1px #ccc;
}

.week-info-cont .content .cont-outline {
  padding-bottom: 20px;
  background: #fff;
}

.week-info-cont .content .cont-outline .tit {
  font-size: 22px;
  color: #00a4ff;
  padding: 15px;
  padding-left: 0px;
}

.week-info-cont .content .cont-outline .tit span {
  border-left: solid 8px #00a4ff;
  padding-left: 20px;
}

.week-info-cont .content .cont-outline .top {
  font-size: 24px;
  margin-bottom: 5px;
}

.week-info-cont .content .cont-outline .cont {
  margin: 10px 20px;
  padding: 10px 0;
  border-top: dashed 1px #ddd;
  border-bottom: dashed 1px #ddd;
}

.week-info-cont .content .cont-outline .cont .class-info {
  height: 22px;
  overflow: hidden;
  transition: 1s;
}

.week-info-cont .content .cont-outline .cont .class-info .more {
  color: #333;
}

.week-info-cont .content .cont-outline .cont .class-info .hv-poin {
  color: #2da1e7;
}

.week-info-cont .content .cont-outline .bottom {
  line-height: 40px;
  font-size: 16px;
}

.week-info-cont .content .cont-answer {
  margin: 15px 0;
  padding-bottom: 20px;
  background: #fff;
}

.week-info-cont .content .cont-answer .tit {
  font-size: 22px;
  color: #00a4ff;
  padding: 15px;
  padding-left: 0px;
}

.week-info-cont .content .cont-answer .tit span {
  border-left: solid 8px #00a4ff;
  padding-left: 20px;
}

.week-info-cont .content .cont-answer .answer-item {
  padding-left: 20px;
  height: 30px;
  overflow: hidden;
  transition: 1s;
}

.week-info-cont .content .cont-answer .answer-item h5 {
  margin-left: 10px;
  display: inline-block;
}

.week-info-cont .content .cont-answer .answer-item .title {
  color: #333;
}

.week-info-cont .content .cont-answer .answer-item .artic {
  padding: 0 24px;
  line-height: 30px;
  color: #999;
}

.week-info-cont .content .cont-about {
  overflow: auto;
  background: #fff;
}

.week-info-cont .content .cont-about .tit {
  font-size: 22px;
  color: #00a4ff;
  padding: 15px;
  padding-left: 0px;
}

.week-info-cont .content .cont-about .tit span {
  border-left: solid 8px #00a4ff;
  padding-left: 20px;
}

.week-info-cont .content .cont-about .about-item {
  padding: 0 28px 20px 28px;
  position: relative;
}

.week-info-cont .content .cont-about .about-item .item {
  display: block;
  color: #333;
  padding: 10px 0px;
  border-bottom: solid 1px #f4f4f4;
}

.week-info-cont .content .cont-about .about-item .item .col-md-3 {
  padding-right: 15px;
}

.week-info-cont .content .cont-about .about-item .item:last-child {
  border-bottom: none;
}

.week-info-cont .content .cont-about .about-item .item-tit {
  font-size: 16px;
}

.week-info-cont .content .cont-about .about-item .item-info {
  color: #999;
  font-size: 12px;
  padding-bottom: 10px;
}

.week-info-cont .content .cont-about .about-item .item-cont {
  font-size: 12px;
}

.week-info-cont .star {
  width: 118px;
  height: 21px;
  display: inline-block;
  background: url(../../assets/img/star.jpg) no-repeat;
  background-size: cover;
}

.week-info-cont .star .score {
  width: 50px;
  height: 21px;
  background-size: cover;
  float: right;
  display: inline-block;
  background: url(../../assets/img/starGrey.jpg) top right no-repeat;
  background-size: cover;
}

.week-info-cont .star .score i {
  display: none;
}
